<section class="custom-newsletter-section">

<div class="content-area custom-newsletter__wrap">
    <div class="custom-newsletter__message">
        <p>Sign up for our newsletter and <span class="section-strong">save 10%</span> on your next order of <span class="section-strong">Amass</span>. </p>
    </div>
    <form id="email_signup" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="Xs5gxR">
      <input type="hidden" name="$fields" value="$consent">
      <input type="hidden" name="$list_fields" value="$consent">
      <div class="newsletter-wrap">
        <input class="email" name="email" type="email" placeholder="{{ 'layout.footer.email' | t }}" value="">
        <input class="newsletter-submit" name="subscribe" type="submit" value="{{ 'general.submit' | t }}">
      </div>
    </form>
    <form id="birthday_form" style="display: none;">
      <div class="newsletter-wrap">
        <input class="birthday" id="birthday" name="birthday" type="text" placeholder="{{ 'layout.footer.birthday' | t }}" value="" />
        <input class="newsletter-submit" name="subscribe" type="submit" value="{{ 'general.submit' | t }}">
        <p class="alert-message success">{{ 'layout.footer.success' | t }}</p>
      </div>
      <div class="newsletter-wrap">
        <p class="alert-message error invalid-date" style="display: none;">Invalid birthdate. Please try again with correct birthdate.</p>
      </div>
    </form>
</div>


</section>

<script type="text/javascript" src="https://www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script>
  function handleBirthdaySubmit(e) {
    e.preventDefault();
    if (isNaN(new Date($('input[name="birthday"]').val().replace(/ /g, '')).getTime())) {
      $('.error.invalid-date').show();
      return;
    }

    _learnq.push(['identify', {'Birthday' : $('input[name="birthday"]').val().replace(/ /g, '')}]);
    $('#birthday_form').find('.newsletter-wrap').addClass('newsletter-submitted');
  }

  window.addEventListener('load', function () {
    $('#birthday_form').on('submit', handleBirthdaySubmit);

    $('input[name="birthday"]').keydown(function() {
      $('.error.invalid-date').hide();
    });
    
    KlaviyoSubscribe.attachToForms('#email_signup', {
      hide_form_on_success: true,
      success: function ($form) {
        var email = $form.find('[name="email"]').val();
        _learnq.push(['identify', { $email: email }]);
        $('#birthday_form input[name="email"]').val(email);
        $('#email_signup').hide();
        $('#birthday_form').show();
    
        // Heap identify
        // heap.identify($('input[name="email"]').val());
        // heap.addUserProperties({ email: $('input[name="email"]').val() });
      }
    });

    var script = document.createElement('script');
    script.onload = function() {
      $("#birthday").inputmask("99 /99 /9999");
    };
    script.src = "{{ 'jquery.inputmask.min.js' | asset_url }}";
    document.getElementsByTagName('body')[0].appendChild(script);
  });
</script>