
{% assign product = product | default: nil %}
{% assign media_borders = settings.media_borders %}
{% assign onboarding = onboarding | default: false %}
{% assign selected_variant = product.selected_or_first_available_variant %}


{% capture product_card_details %}


  <div class="product-card-details">
   
    <h2 class="title">
      {% if onboarding %}
        {{ 'onboarding.product_name' | t }}
      {% else %}
        <a href="{{ product.url | within: collection }}">
          {{ product.title }}
        </a>
      {% endif %}
    </h2>
    {% render 'okendo-reviews-product-rating-summary', product: product %}
    {% assign itemType = product %}
    {% comment %}product-item-price{% endcomment %}
    {% comment %}
      @param itemType {Product} - Product for the product card
      @param onboarding {Boolean} - If true, will display onboarding content
    {% endcomment %}
    {% if product.tags.size > 0 %}
        <div class="product-item__price">
            <span>
                {% for tag in product.tags %}
                    {{ tag }}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </span>
        </div>
    {% endif %}

      {% assign variant_for_unit_price = itemType.variants | sort: 'price' | first %}
      {% if variant_for_unit_price.unit_price_measurement %}
        {% capture total_quantity %}<span>{{ variant_for_unit_price.unit_price_measurement.quantity_value }}{{ variant_for_unit_price.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
        {% capture unit_price %}<span>{{ variant_for_unit_price.unit_price | money }}</span>{% endcapture %}
        {% capture unit_measure %}<span>{%- if variant_for_unit_price.unit_price_measurement.reference_value != 1 -%}{{ variant_for_unit_price.unit_price_measurement.reference_value }}{%- endif %}{{ variant_for_unit_price.unit_price_measurement.reference_unit }}</span>{% endcapture %}
    
        <div class="product-item__unit-price">
          {{ 'products.product.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>
      {% endif %}

 
  </div>
{% endcapture %}

<li
  class="
    product
    product-{{ product.id }}
    {% render 'for-looper', forloop: forloop %}
    {{ cardType }}
  "
  data-product-item
>
  {% assign productImageSize = 'grande' %}

  <div class="product-inner">
    <figure class="product-card-figure">
      {% if product.featured_media %}
        {%
          render 'rimg',
          img: product.featured_media.preview_image,
          size: '600x',
          lazy: true,
        %}

        {% if settings.show_product_secondary_image and product.media.size > 1 %}
          {% assign second_image = product.media[1].preview_image %}
          {%
            render 'rimg',
            img: second_image,
            size: '600x',
            lazy: true,
          %}
        {% endif %}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}

      {% unless onboarding %}
        <a href="{{ product.url | within: collection }}" class="{% if media_borders %}with-border{% endif %}"></a>
      {% endunless %}

      <{% if onboarding %}div{% else %}a{% endif %}
        class="
          product-card-overlay
          {%
            if enableQuickshop == false
            and enableATC == false
            and enable_product_details_overlay == false
          %}product-card-overlay--hide{% endif %}
        "
        {% unless onboarding %}href="{{ product.url | within: collection }}"{% endunless %}
      >
        <div class="product-card-overlay-content">
          {% if settings.enable_product_details_overlay %}
            {{ product_card_details_overlay }}
          {% else %}
            {{ product_card_interactions }}
          {% endif %}
        </div>
      </{% if onboarding %}div{% else %}a{% endif %}>

    </figure>

    <div class="product-card-footer">
      {% if settings.enable_product_details_overlay %}
        {{ product_card_interactions }}
      {% else %}
        {{ product_card_details }}
      {% endif %}
    </div>

    <div class="product-card-footer-mobile">
      {{ product_card_details }}
    </div>
  </div>
</li>
    
    