<!DOCTYPE html>
<html class="no-js no-touch">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta name="facebook-domain-verification" content="sr10mqmpr88v7fxkqtrbll5bkwudi5" />

    <title>
        {{ page_title }} {% if current_tags %} &ndash; "{{ current_tags | join: ', ' }}" {% endif %} {% if current_page != 1 %} &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }} {% endif %} {% unless page_title contains shop.name %} &ndash;
        {{ shop.name }} {% endunless %}
    </title>

    <script>window.INITIAL_LOAD = new Date()</script>

    {% if page_description or shop.description != blank %}
        <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.description }}{% endif %}">
    {% endif %}
    
    {% render 'favicon' %}

    {% if template contains 'collection' and current_tags %}
        <meta name="robots" content="noindex" />
        <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
    {% else %}
        <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}

    {% render 'social-meta-tags', twitter_handle: settings.twitter-url %} 
 	 
    {% capture h_content %}
    {{ content_for_header }}
    {% endcapture %}

    {% if h_content contains "swym" %}
    {{ h_content | remove: '"\/\/swymprod.azureedge.net\/code\/swym-shopify.js?shop=amass-store.myshopify.com",' | remove ',"\/\/swymprod.azureedge.net\/code\/swym_isa_fb_pixel.js?shop=amass-store.myshopify.com"' }}
    {% else %}
    {{ content_for_header }}
    {% endif %}

    {% render 'theme-options' %}
  
  	{% unless template == "index" %}
  		{% render 'minmaxify-head' %}
        {% render 'shogun-head' %}
        {% include 'shop-sheriff-amp' %}
	{% endunless%}

    <!-- Google Tag Manager -->
    <!-- <temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5847GMR');</script></temp></temp></temp> -->
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');
        if (window.Shopify && window.Shopify.designMode) document.documentElement.className += ' in-theme-editor';
        if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) document.documentElement.className = document.documentElement.className.replace(/\bno-touch\b/, 'has-touch');
    </script>

    {{ 'theme.css' | asset_url | stylesheet_tag | preload }}

    {% if template == '404' %}
        <script>window.location.href = '/';</script>
    {% endif %}

<!-- BeginConsistentCartAddon -->  <script>  {% if customer %}  Shopify.customer_logged_in = true ;  Shopify.customer_email = "{{ customer.email }}" ;  Shopify.log_uuids = true;  {% else %}  Shopify.customer_logged_in = false ;  Shopify.customer_email = "" ;  Shopify.log_uuids = true;  {% endif %}  </script>  <!-- EndConsistentCartAddon -->
</head>

<body class="
    {{ template.suffix }}-body
    {% if template contains 'contact' %}template-contact{% else %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% endif %}
    {% if settings.meta-font == " 'Open Sans' sans-serif " %}font-open-sans{% endif %}
    {% if settings.main-title-uppercase %}uppercase{% endif %}
    product-grid-{{ settings.product_grid_aspect_ratio }}
  ">
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5847GMR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <span class="will-overlay"></span>
    <div id="fb-root"></div>
    {% render 'photoswipe' %}
    {% render 'quickshop' %}
    {% render 'cart-mini' %}
    
    {% unless template contains "afterdream-landing"%}
        {% section 'pxs-announcement-bar' %}
        {% section 'static-header' %}
    {% endunless %}

    <div class="page-body-content {{ template.suffix }}-page">
        {{ content_for_layout }}
    </div>

    {% if template == 'index' %}
        {%section 'static-promo-banner'%}
    {% endif %}

    {% unless template contains "afterdream-landing"%}

        {% section 'static-footer' %}

    {% endunless %}

    {% section 'announement-popup' %}
    {% render 'location-popup' %}

    {% render 'structured-data' %}

    {{ 'jquery3-2-1.min.js' | asset_url | script_tag }}
    {{ 'application.js' | asset_url | script_tag}}
    {{ 'site.js' | asset_url | script_tag }}

    <script type="text/javascript" src="{{ 'atlantic.js' | asset_url }}" data-scripts data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}" data-shopify-countries="/services/javascripts/countries.js" data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
        data-shopify-cart="{{ " jquery.cart.min.js " | asset_url }}" data-customer-area="{{ 'customer_area.js'  | shopify_asset_url }}" defer>
    </script>
    <script type="text/javascript" src="{{ 'plugins.js' | asset_url }}" defer="defer"></script>

    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick.min.js' | asset_url | script_tag }}

    {% unless template == "index" %}
    <!-- Hotjar Tracking Code for www.amass.com -->
    <script type="text/javascript">
        (function(h, o, t, j, a, r) {
            h.hj = h.hj || function() {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 1247123,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    {%endunless %}

    <!-- Facebook Connect -->
    <script type="text/javascript" defer>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Voyage -->
    {% unless template contains "afterdream-landing"%}
    <script async src="https://assets.voyagetext.com/voyage.production.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      (function(){if(window.voyage)return;window.voyage={q:[]};var fns=['init', 'track'];
      for(var i=0;i<fns.length;i++){(function(fn){window.voyage[fn]=function(){
      this.q.push([fn,arguments]);}})(fns[i])}})();voyage.init('e335683029', { popup: true });
      /* ]]> */
    </script>
    {% endunless%}    
    <!-- Tap filiate -->
    <script type="text/javascript" src="https://script.tapfiliate.com/tapfiliate.js" async></script>
    <script type="text/javascript">
          (function(t, a, p) {
              t.TapfiliateObject = a;
              t[a] = t[a] || function() {
                  (t[a].q = t[a].q || []).push(arguments)
              }
          })(window, 'tap');

          tap('create', '13846-ffe23b', {
              integration: "shopify"
          });
          tap('detect');
    </script>

    <!-- Quantcast Tag -->
    <script type="text/javascript">
        var _qevents = _qevents || [];
        (function() {
            var elem = document.createElement('script');
            elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
            elem.async = true;
            elem.type = "text/javascript";
            var scpt = document.getElementsByTagName('script')[0];
            scpt.parentNode.insertBefore(elem, scpt);
        })();
        _qevents.push({
            qacct: "p-ydKWxjvbBAyjJ",

        });
    </script>
    <!-- <noscript>
        <div style="display:none;">
            <img src="//pixel.quantserve.com/pixel/p-ydKWxjvbBAyjJ.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
    </noscript> -->
    <!-- End Quantcast tag -->

    <!-- ShareASale tag -->
    <script src="https://www.dwin1.com/19038.js" type="text/javascript" defer="defer"></script>

    <!-- Okendo Reviews -->
    {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
    {{ shop.metafields.okendo.StyleCustomizations }}
    {% render 'okendo-reviews-json-ld' %}
    {{'okendo-reviews.js' | asset_url | script_tag }}
    <!-- End Okenko Reviews -->
  
  	{%unless template == "index" %}
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVwNWHsG-nnoYFXaJYsMANx1o93RvB-yg&libraries=geometry,places&ver=5.3.2"></script>
	{% endunless %}
    
    {% if template contains 'account' %}
        {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {% endif %}

    <script type="text/javascript" defer>
        (function() {
            function handleFirstTab(e) {
                if (e.keyCode === 9) { // the "I am a keyboard user" key
                    document.body.classList.add('user-is-tabbing');
                    window.removeEventListener('keydown', handleFirstTab);
                }
            }
            window.addEventListener('keydown', handleFirstTab);
        })();
    </script>

    <!-- Kustomer 1.0 -->
    {% unless template == "index" %}
    <script type="text/javascript">
        // ! function(a, b, c, d) {
        //     a.Kustomer = c, c._q = [], c._i = [], c.init = function(a) {
        //         function b(a, b) {
        //             a[b] = function() {
        //                 a._q.push([b].concat(Array.prototype.slice.call(arguments, 0)))
        //             }
        //         }
        //         for (var d = "init clear identify track start describe on".split(" "), e = 0; e < d.length; e++) b(c, d[e]);
        //         c._i.push(a)
        //     };
        //     var e = b.createElement("script");
        //     e.type = "text/javascript", e.async = !0, e.src = "https://cdn.kustomerapp.com/cw/sdk.v1.1.min.js";
        //     var f = b.getElementsByTagName("script")[0];
        //     f.parentNode.insertBefore(e, f)
        // }(this, document, window.Kustomer || {});

        // // Add your API key here
        // Kustomer.init('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlZDc5MWRkM2E1ODE4MDA5NmQyNmM5NyIsInVzZXIiOiI1ZWQ3OTFkZDE0YzUwZjAwMTk5Y2E3MGMiLCJvcmciOiI1ZWI1OTMwYmU2NjhiMjAwMTJjNGNlODgiLCJvcmdOYW1lIjoiYW1hc3MiLCJ1c2VyVHlwZSI6Im1hY2hpbmUiLCJwb2QiOiJwcm9kMSIsInJvbGVzIjpbIm9yZy50cmFja2luZyJdLCJhdWQiOiJ1cm46Y29uc3VtZXIiLCJpc3MiOiJ1cm46YXBpIiwic3ViIjoiNWVkNzkxZGQxNGM1MGYwMDE5OWNhNzBjIn0.91aYL7kM05I9zTpRvR7-woOoOCIFUS_7HgR0vJ4ppmg');

        // // Start the chat client
        // Kustomer.start({
        //     icon: false
        // }, function() {

        //     var chatButton = document.getElementById('chat-button');

        //     chatButton.classList.add('chat-icon--show');

        //     chatButton.addEventListener('click', function(event) {
        //         event.preventDefault();
        //         Kustomer.open();
        //     });
        // })
    </script>
    {% endunless %}

    {% unless template contains "afterdream-landing"%}
        <!-- Kustomer 2.0 -->
        <script src="https://cdn.kustomerapp.com/chat-web/widget.js" data-kustomer-api-key="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlZDc5MWRkM2E1ODE4MDA5NmQyNmM5NyIsInVzZXIiOiI1ZWQ3OTFkZDE0YzUwZjAwMTk5Y2E3MGMiLCJvcmciOiI1ZWI1OTMwYmU2NjhiMjAwMTJjNGNlODgiLCJvcmdOYW1lIjoiYW1hc3MiLCJ1c2VyVHlwZSI6Im1hY2hpbmUiLCJwb2QiOiJwcm9kMSIsInJvbGVzIjpbIm9yZy50cmFja2luZyJdLCJhdWQiOiJ1cm46Y29uc3VtZXIiLCJpc3MiOiJ1cm46YXBpIiwic3ViIjoiNWVkNzkxZGQxNGM1MGYwMDE5OWNhNzBjIn0.91aYL7kM05I9zTpRvR7-woOoOCIFUS_7HgR0vJ4ppmg"></script>
        <script type="text/javascript">
            // Start the chat client
            // Kustomer.start({
            //     icon: false
            // }, function() {

            //     var chatButton = document.getElementById('chat-button');

            //     chatButton.classList.add('chat-icon--show');

            //     chatButton.addEventListener('click', function(event) {
            //         event.preventDefault();
            //         Kustomer.open();
            //     });
            // })
            Kustomer.start();
        </script>
    {% endunless %}

    <!-- Klaviyo -->
    <script type="text/javascript" src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
    <script type="text/javascript">
        var klaviyo = klaviyo || [];
        klaviyo.init({
            account: "WYLXSD",
            list: "UWc33K",
            platform: "shopify"
        });
        klaviyo.enable("backinstock", {
            trigger: {
                product_page_text: "Email Me When Available",
                product_page_class: "action-button",
                replace_anchor: false
            },
            modal: {
                headline: "EMAIL ME WHEN AVAILABLE",
                body_content: "You'll be notified once this product is back in stock",
                email_field_label: "Email",
                button_label: "Email me when available",
                subscription_success_label: "You're in! We'll let you know when it's back.",
                newsletter_subscribe_label: "Add to mailing list.",
                subscribe_checked: true,
                footer_content: 'We will send you an email once the product becomes available. Your email address will not be shared with anyone else.',
                additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
                drop_background_color: "#000",
                background_color: "#fff",
                text_color: "#222",
                button_text_color: "#fff",
                button_background_color: "#000000",
                close_button_color: "#ccc",
                error_background_color: "#fcd6d7",
                error_text_color: "#C72E2F",
                success_background_color: "#d3efcd",
                success_text_color: "#1B9500"
            }
        });
    </script>

    <!-- Incart Upsell -->
    <!-- <script type='text/javascript' async src='https://spcdn.incartupsell.com/ifbbb-sjWVMBVNHz_2pqfAzzyp.js'></script> -->

    <!-- CRITEO START -->
    {% include 'criteo-tracking' %}
    <!-- CRITEO END -->

    <!-- Recently Viewed -->
    {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
    {{ 'jquery.products.min.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
    <script type="text/javascript">
        Shopify.Products.recordRecentlyViewed();
    </script>
    {% endif %}
    {% if template == 'index' %}
    <script type="text/javascript">
        Shopify.Products.showRecentlyViewed({ howManyToShow: productsToDisplay });
    </script>
    {% endif %}
    <!-- End Recently Viewed -->
    
    <!-- Mix Panel -->
    <!-- <script>
        (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);mixpanel.init("6dcc3fc122dc9f9059ed84a56ad3347e", {batch_requests: true})
    </script>
    {% if customer %}
    <script>
      mixpanel.identify('{{customer.id}}');
    </script> 
    {% endif %}
  
    <script type="text/javascript">
        mixpanel.track_links("#nav a", "click nav link", {
            "referrer": document.referrer
        });
    </script> -->
    <!-- End Mix Panel -->

    <!-- Bing Ads-->
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"26346953"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

    <!-- Begin Optimizely -->
    {% include 'optimizely' %}

    <script src="https://unpkg.com/@optimizely/optimizely-sdk/dist/optimizely.browser.umd.min.js"></script>
    <!-- Opti Development Environment SDK -->
        <!-- <script src="https://cdn.optimizely.com/datafiles/3nUX4DLfsEbt2SNWzh528.json/tag.js"></script> -->
    <!-- Opti Production Environment SDK -->
        <script src="https://cdn.optimizely.com/datafiles/GM6biwNzs3mHB5WoWFiWa.json/tag.js"></script>
    <!-- End Optimizely -->
    
    <!-- Begin Linkedin Insight Tag -->
    <script type="text/javascript">
        _linkedin_partner_id = "3153300";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
        window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
        (function(){
            var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";
            b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            // s.parentNode.insertBefore(b, s);
            s.parentNode.append(b);
        })();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3153300&fmt=gif" />
    </noscript>
    <!-- End Linkedin Insight Tag -->
{% include 'social-login' %}<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart--></body>

</html>