{% render 'shogun-products', content: page %}
{% section 'static-landing-header' %}

<div class="afterdream-container">
  <div class="afterdream__content-wrap">
    <div class="afterdream__content">
      <div class="afterdream__product">
        <div class="afterdream__product-image-wrap">
          <img
            class="afterdream__product-image"
            src="{{ 'afterdream-new.jpg' | asset_url }}"
            alt="Amass Afterdream distilled thc spirit in a white bottle with green label."
          />
        </div>
        <div class="afterdream__product-description-wrap">
          <div class="afterdream__product-description-heading">
            <h1>Afterdream</h1>
            <div
              class="afterdream__product-description-subheading section-strong"
            >
              Cannabis-Infused Non-Alcoholic Spirit
            </div>
          </div>
          <div class="afterdream__product-description-icon-wrap">
            <img
              class="afterdream__product-description-icon"
              src="{{ 'afterdream-marijuana-icon.svg' | asset_url }}"
              alt="symbol or icon for marijuana."
            />
          </div>
          <div class="afterdream__product-description section-strong">
            <p>Made in California</p>
            <p>0% Alc/Vol</p>
            <p>750 ml | 25.3 Fl oz</p>
          </div>
          <div class="afterdream__product-description-certified-symbol-wrap">
            <img class="afterdream__product-description-certified-symbol" src="{{ 'afterdream-certified-symbol.svg' | asset_url }}" alt="California Certified symbol for selling marijuana, a triangle bordering a marijuana leaf and an exclamation point with CA underneath.">
          </div>
          <p class="afterdream__product-subdescription">
            60 mg THC, 60 mg CBD, 60 mg Delta-8 (Per 750 mL | 25.3 fl oz Bottle)
          </p>
        </div>
      </div>
      <div class="afterdream__product-content">
        <ul class="afterdream__product-content-details-label-wrap">
          <li>
            <a
              class="js-afterdream-label afterdream__product-content-details-label active"
              data-id="afterdream-about"
              href="#"
              >About</a
            >
          </li>
          <li>
            <a
              class="js-afterdream-label afterdream__product-content-details-label"
              data-id="afterdream-specs"
              href="#"
              >Specs</a
            >
          </li>
          <li>
            <a
              class="js-afterdream-label afterdream__product-content-details-label"
              data-id="afterdream-ingredients"
              href="#"
              >Ingredients</a
            >
          </li>
        </ul>
        <div class="afterdream__product-content-details-wrap">
          <div
            id="afterdream-about"
            class="js-afterdream-details afterdream__product-content-details-about js-afterdream-details--show"
          >
            <p>
              <span class="section-strong">AFTERDREAM</span> is a
              cannabis-infused non-alcoholic spirit made with a blend of THC,
              CBD, and Delta-8 for a mind-mellowing sip that celebrates the
              California coast, where cannabis culture took root in the ‘60s.
            </p>
            <p>
              Juniper, Coriander, Orris Root, Angelica Root, Lemon Peel,
              Cardamom, Sorrel, Cucumber, Apple, Mint, Parsley, Sumac, Rosemary,
              and Thyme are blended with terpenes including Myrcene, Pinene, and
              Limonene and precisely dosed THC, CBD, and Delta-8 for a bright,
              refreshing buzz.
            </p>
          </div>
          <div
            id="afterdream-specs"
            class="js-afterdream-details afterdream__product-content-details-specs"
          >
            <p>
              We recommend starting with one 1.5 oz serve, enjoyed simply on the
              rocks with a splash of tonic or in an array of cocktails. Please
              imbibe responsibly and allow 20-40 minutes to feel the full
              effect. This product is shelf stable, but best enjoyed within 3
              months after opening.
            </p>
            <p class="afterdream__product-content-details-specs--uppercase">
              WARNING: THIS PRODUCT CAN EXPOSE YOU TO CHEMICALS INCLUDING
              ETHANOL, WHICH IS KNOWN TO THE STATE OF CALIFORNIA TO CAUSE
              CANCER. FOR MORE INFORMATION, GO TO:
              <a href="https://www.p65warnings.ca.gov/">
                WWW.P65WARNINGS.CA.GOV.</a
              >
            </p>
            <p class="afterdream__product-content-details-specs--uppercase">
              GOVERNMENT WARNING: THIS PACKAGE CONTAINS CANNABIS, A SCHEDULE I
              CONTROLLED SUBSTANCE. KEEP OUT OF REACH OF CHILDREN AND ANIMALS.
              CANNABIS MAY ONLY BE POSSESSED OR CONSUMED BY PERSONS 21 YEARS OF
              AGE OR OLDER UNLESS THE PERSON IS A QUALIFIED PATIENT. CANNABIS
              USE WHILE PREGNANT OR BREASTFEEDING MAY BE HARMFUL. CONSUMPTION OF
              CANNABIS IMPAIRS YOUR ABILITY TO DRIVE AND OPERATE MACHINERY.
              PLEASE USE EXTREME CAUTION.
            </p>
          </div>
          <div
            id="afterdream-ingredients"
            class="js-afterdream-details afterdream__product-content-details-ingredients"
          >
            <div>
              <h4>INGREDIENTS</h4>
              <p>
                Juniper, Coriander, Orris Root, Angelica Root, Lemon Peel,
                Cardamom, Sorrel, Cucumbers, Apple, Mint, Parsley, Sumac,
                Rosemary, and Thyme are blended with terpenes including Myrcene, Pinene, and Limonene and precisely dosed THC, CBD, and Delta-8 for a bright, refreshing buzz.
              </p>
            </div>
            <div>
              <h4>BOTANICALS</h4>
              <p>
                Juniper, Coriander, Orris Root, Angelica Root, Lemon Peel,
                Cardamom, Sorrel, Cucumbers, Apple, Mint, Parsley, Sumac,
                Rosemary, and Thyme
              </p>
            </div>
            <div>
              <h4>TERPENES</h4>
              <p>Myrcene, Pinene, Limonene</p>
            </div>
            <div>
              <h4>THC, CBD, & DELTA-8</h4>
              <p
                class="afterdream__product-content-details-ingredients--strong"
              >
                <span>•</span>60 mg THC, 60 mg CBD, 60 mg Delta-8 (Per 750 mL |
                25.3 fl oz Bottle)
              </p>
              <p
                class="afterdream__product-content-details-ingredients--strong"
              >
                <span>•</span>3.5 mg THC, 3.5 mg CBD, 3.5 mg Delta-8 (Per 44 mL
                | 1.5 fl oz Serving)
              </p>
            </div>
          </div>
        </div>
        <div class="afterdream__product-content-image-wrap">
          <img
            src="{{ 'afterdream-tall-glass.jpg' | asset_url }}"
            alt="Three tall glasses with clear liquid and five lemons behind them"
            class="afterdream__product-content-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="afterdream__newsletter-container">
  <img
    class="afterdream__newsletter-image"
    src="{{ 'afterdream-clouds.jpg' | asset_url }}"
    alt="dark sky filled with gray clouds"
  />
  <div class="afterdream__content-wrap">
    <div class="afterdream__newsletter-content">
      <h2 class="afterdream__newsletter-content-heading">Want to know more?</h2>
      <!-- AFTERDREAM SUBSCRIPTION FORM -->
      <form id="email_signup">
        <div class="newsletter-wrap afterdream__newsletter-wrap">
          <div class="form_fields" style="display: flex; flex-grow: 1">
            <input
              class="email"
              type="email"
              value=""
              name="email"
              id="k_id_email"
              placeholder="Email address"
            />
            <input
              class="newsletter-submit"
              name="submit"
              type="submit"
              value="Submit"
            />
          </div>
          <p class="alert-message success">Thanks for subscribing!</p>
        </div>
      </form>
      <div class="section-strong section-strong--small">
        Submit you email to recieve updates on amass afterdream.
      </div>
    </div>
  </div>
</div>

<div class="js-afterdream-modal afterdream-modal">
  <div class="js-afterdream-modal-content afterdream-modal__content">
    <h1 class="afterdream-modal__heading">Are you over 21?</h1>
    <a
      class="js-afterdream-yes afterdream-modal__button section-strong"
      href="#"
      >Yes, I'm over 21.</a
    >
    <a class="afterdream-modal__link section-strong" href="http://google.com/"
      >Exit Site</a
    >
  </div>
</div>

<!-- KLAVIYO SCRIPT -->
<script type="text/javascript">
  function handleSubmit(e) {
    var settings = {
      async: true,
      crossDomain: true,
      url: "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
      method: "POST",
      headers: {
        "content-type": "application/x-www-form-urlencoded",
        "cache-control": "no-cache",
      },
      data: {
        g: "Stpfav",
        email: $("#k_id_email").val(),
      },
    };

    $.ajax(settings).done(function (response) {
      if (response.success) {
        $("#email_signup .form_fields").hide();
        $("#email_signup .alert-message").show();
      }
    });

    e.preventDefault();
  }

  window.addEventListener("load", function () {
    $("#email_signup").on("submit", handleSubmit);
  });
</script>
{{ page.metafields.shogun.optimizer }}
