{% section 'static-page-hero' %}

<div>
    <div class="about-heading">
        {{page.content}}
    </div>
    <div class="about-note__section">
        <div class="about-note__wrap">
            <div class="about-note__body-wrap">
                <div class="about-note__body">
                    <div class= "about-note__body-heading about-note__body--right">
                        <h3 class="section-heading section-heading--medium">Founder's Note</h3>
                    </div>
                    <p>
                        My fascination with botany first began when I was a child growing up among the coastal forests of the Canadian Pacific Northwest. That passion for plants translated into a passion for distilling, and in 2012 I cofounded my own distillery. I quickly realized that the spirits industry’s rigid categories and industrial practices did not align with the thing that drew me to distilling in the first place; transforming botanicals into a conduit for ritual and connection.
                    </p>
                    <p>
                        AMASS was born out of a desire for quotidian pleasures made better by plants. Our line of botanical beverages and personal care products are designed for moments of celebration and self-care. They’re a way to connect, both with others and ourselves.
                    </p>
                    <p>
                        It’s my hope that our products provide connection for all of your happy hours and evening rituals to come.
                    </p>
                    <div class="about-note__body-author about-note__body--right">
                        <div class="section-italic">
                            Cheers,
                        </div>
                        <div class="section-heading section-heading--small">
                            Morgan McLachlan
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-note__image">
                <div class="about-note__image-wrap">
                    <img src="{{ 'about-founder-note.jpg' | asset_url }}" alt="female with blonde hair wearing a white dress picking a lemon from a tree.">
                </div>
            </div>
        </div>
    </div>
    <div class="about-collage__wrap">
        <div class="about-collage__item-wrap">
            <div class="about-collage__item about-collage__item-image">
                <img src="{{ 'about-collage-1.jpg' | asset_url }}" alt="Riverine bottle next to a cocktail glass with lemon and straw">
            </div>
            <div class="about-collage__item about-collage__item-text about-collage__item-text-left">
                <div class="about-collage__item-text-content">
                    <h4 class="about-collage__item-text-heading">
                        Grower to Glass
                    </h4>
                    <p>
                        At AMASS, we wear our ingredient lists on our sleeve. All of our botanical ingredients are <span class="section-strong section-strong--extra-small"> natural, non-GMO,</span>  and vetted by the best in the business. You won’t find any artificial preservatives or unnecessary chemicals in our bottles – <span class="section-strong section-strong--extra-small">just plants.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="about-collage__item-wrap">
            <div class="about-collage__item about-collage__item-image">
                <img src="{{ 'about-collage-2.jpg' | asset_url }}" alt="Vase with colorful flowers">
            </div>
            <div class="about-collage__item about-collage__item-text">
                <div class="about-collage__item-text-content">
                    <h4 class="about-collage__item-text-heading">
                        Power of Plants
                    </h4>
                    <p>
                        We carefully select each botanical that goes into our bottles. From adaptogens like <span class="section-strong section-strong--extra-small">Lion’s Mane Mushroom</span> and <span class="section-strong section-strong--extra-small">Ashwagandha</span> to culinary ingredients like <span class="section-strong section-strong--extra-small">Sumac</span> and <span class="section-strong section-strong--extra-small">Sorrel</span>, each and every one of our botanicals is thoughtfully considered for a cleaner cocktail.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-collage__item-wrap">
            <div class="about-collage__item about-collage__item-image">
                <img src="{{ 'about-collage-3.jpg' | asset_url }}" alt="Amass Hand Soap Products">
            </div>
            <div class="about-collage__item about-collage__item-text about-collage__item-text-left">
                <div class="about-collage__item-text-content">
                    <h4 class="about-collage__item-text-heading">
                        Sensory Rituals
                    </h4>
                    <p>
                        Our personal care products are made with <span class="section-strong section-strong--extra-small">natural botanical extracts</span> and <span class="section-strong section-strong--extra-small">luxurious essential oils</span> for a brief sensory ritual. The bespoke botanical blends were designed with moments of self-care in mind, whether you’re washing your hands, taking a bath, or lighting a candle.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-collage__item-wrap">
            <div class="about-collage__item about-collage__item-image">
                <img src="{{ 'about-collage-4.jpg' | asset_url }}" alt="Amass Seltzer surrounded by a tangerine and empty cocktail glass">
            </div>
            <div class="about-collage__item about-collage__item-text">
                <div class="about-collage__item-text-content">
                    <h4 class="about-collage__item-text-heading">
                        A MODERN-DAY BOTANICS BRAND
                    </h4>
                    <p>
                        While AMASS first began by offering a Dry Gin and Botanic Vodka, we’ve always felt that our core values of <span class="section-strong section-strong--extra-small">quality, storytelling, and community</span> were not limited to alcohol. That’s why we make <span class="section-strong section-strong--extra-small">clean botanics for both social and self-care rituals.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="about-collage__item-wrap">
            <div class="about-collage__item about-collage__item-image">
                <img src="{{ 'about-collage-5.jpg' | asset_url }}" alt="Vase with white flowers">
            </div>
            <div class="about-collage__item about-collage__item-text about-collage__item-text-left">
                <div class="about-collage__item-text-content">
                    <h4 class="about-collage__item-text-heading">
                        What are Botanics?
                    </h4>
                    <p>
                        Botanics are natural solutions derived from plants for everyday social and self-care rituals. Our range of botanics are designed to be <span class="section-strong section-strong--extra-small">both of the Earth and for the Earth. </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-area about-founder-intro">
        <div class="about-founder-intro__image">
            <img src="{{ "about-meet-morgan.jpg" | asset_url }}" alt="">
        </div>
        <div class="about-founder-intro__header">
            <h4>MEET MORGAN MCLACHLAN</h4>
            <h5>CO-FOUNDER, MASTER DISTILLER, CHIEF PRODUCT OFFICER</h5>
        </div>
        <div class="about-founder-intro__description">
            <p>
                One of the first female distillers in the world, Morgan McLachlan is a pioneer of the modern craft distillation movement in California. She considers herself a punk rock distiller, experimenting with any plants, herbs, and spices she can get her hands on. It’s this expertise in botanicals that serves as the driving vision behind AMASS.
            </p>
        </div>
        <div class="about-founder-intro__cta">
            <a href="/blogs/impressions/meet-master-distiller-morgan-mclachlan" class="action-button">Read More</a>
        </div>

    </div>
</div>

{% section "static-about-collection-list" %}
{% section "static-about-collection" %}
{% section "static-promo-banner" %}

